.btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    width: 100px;
}

.btn:hover {
    background-color: blue;
}

#box {
    background-color: aqua;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}